body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    transition: background-color 0.5s;
    text-decoration-color: #301088;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #249b38;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

button:hover {
    background-color: #301088;
}